/* BASE */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-feature-settings: "kern" 1, "liga" 1;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-kerning: normal;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--text-color);
  font-family: var(--sans);
  font-size: var(--base-font-size);
  line-height: 1.5;
  transition: 0.2s ease background-color;
}

::selection {
  /* color: hsl(13, 100%, 94%); */
  background: var(--highlight-color);
}

/* Responsive Extras */
img, canvas, iframe, video, svg, select, textarea {
  max-width: 100%;
}

img {
  height: auto;
}


/* TYPOGRAPHY */

/* Text */
p {
  margin: var(--spacing-m) auto;
}

/* Links */
a {
  color: inherit;
  text-decoration-color: inherit;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 0.08em;
  border-radius: 2px;
}

/* Lists */
ul {
  margin: var(--spacing-m) auto;
  padding: 0;
  list-style-position: outside;
  list-style-type: none;
}

li {
  margin: 0 auto var(--spacing-s);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  display: block;
  font-weight: normal;
  margin: var(--spacing-m) 0;
  text-rendering: optimizeLegibility;
}

h1 { font-size: 4.8rem; line-height: 1.1; }
h2 { font-size: 2.5rem; line-height: 1.25; }
h3 { font-size: 2.4rem; line-height: 1.3; }
h4 { font-size: 1.8rem; line-height: 1.4; }

@media (--min-baby) {
  h2 { font-size: 2.8rem; line-height: 1.2; }
}

@media (--min-mama) {
  h2 { font-size: 3.2rem; }
}

@media (--min-papa) {
  h1 { font-size: 5.0rem; }
}
