/* DARK MODE */

body.night {
  --text-color: hsl(0, 0%, 100%);
  --border-color: hsla(0, 0%, 100%, 0.25);
  --beige: hsl(210, 10%, 15%);
  --shadow: hsla(0,0%,0%,0.5);

  background-color: var(--night);
  transition: none;
}


#js-theme-toggle {
  position: fixed;
  margin: 0;
  top: 10px;
  right: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 1rem;
  font-size: 2.4rem;
  line-height: 1.3;
  text-decoration: none;
  background: var(--beige);
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  transition: 0.2s ease all;

  &:hover {
    transform: rotate(15deg);
  }
}


.day {
  .theme--sun {
    display: none;
  }
}


.night {
  .theme--moon {
    display: none;
  }
}
