/*
  BOOKS
*/

.book {
  display: inline-block;
  max-width: 200px;
  text-decoration: none;
  line-height: 1.2;

  &:hover {
    text-decoration: underline;
  }

  cite {
    display: block;
    margin-bottom: 0rem;
    font-style: normal;
    font-weight: bold;
  }

  span {
    opacity: 0.7;
    font-size: calc(var(--base-font-size) - 0.2rem);
  }

}
