
html {
  background: #fff;
  font-size: 45%;
}

.cv__bg, .cv__nav, .portrait {
  display: none;
}

article {
  max-width: 900px;
  padding: 90px 0;
}

.letter, .resume {
  background: #fff;
}

.letter a {
  text-decoration: none;
}

.resume {
  page-break-before: always;
}

.resume__container, h1, section {
  grid-column: 2 / 10;
}

.resume__skills li {
  color: #333 !important;
}
