/*
  HOME PAGE
*/

.home__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--beige);

  h1 {
    display: block;
    margin: 0;
    font-size: 3rem;
    font-family: var(--serif);
    text-transform: lowercase;
  }
}
