/* VARIABLES */

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik-regular.woff2') format('woff2'),
       url('/assets/fonts/graphik-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freight Text';
  src: url('/assets/fonts/freight-text-book.woff2') format('woff2'),
       url('/assets/fonts/freight-text-book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freight Text';
  src: url('/assets/fonts/freight-text-book-italic.woff2') format('woff2'),
       url('/assets/fonts/freight-text-book-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


:root {
  /* Misc */
  --container-width: 1080px;
  --radius: 4px;

  /* Colours */
  --blue:            hsl(215, 23%, 80%);
  --beige:           hsl(15, 38%, 93%);

  --text-color:      hsl(0, 0%, 10%);
  --link-color:      var(--blue);
  --highlight-color: hsl(49, 99%, 67%);

  --border-color:    hsla(0, 0%, 0%, 0.1);
  --shadow:          hsla(0, 0%, 0%, 0.12);
  --night:           hsl(0, 0%, 20%);

  /* Type */
  --sans: 'Graphik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif;
  --serif: 'Freight Text', -apple-system-ui-serif, ui-serif, Times, serif;
  --base-font-size: 1.5rem;

  /* Spacing */
  --spacing: 1.6rem;
  --spacing-s: calc(0.5 * var(--spacing));
  --spacing-m: var(--spacing);
  --spacing-l: calc(1.5 * var(--spacing));
  --spacing-xl: calc(2.5 * var(--spacing));
  --spacing-xxl: calc(5 * var(--spacing));
  --spacing-col: calc(6 * var(--spacing));
}


@media (--min-baby) {
  :root {
    --base-font-size: 1.6rem;
  }
}


/* Wide Gamut Screens */
/* @supports (color: color(display-p3 0)) {
  :root {
    --blue: color(display-p3 0.077 0.183 0.515);
  }
} */


/* Breakpoints */
@custom-media --min-baby (min-width: 480px);
@custom-media --max-baby (max-width: 480px);
@custom-media --min-mama (min-width: 800px);
@custom-media --max-mama (max-width: 800px);
@custom-media --min-papa (min-width: 1000px);
@custom-media --max-papa (max-width: 1000px);
@custom-media --min-mega (min-width: 1200px);
@custom-media --max-mega (max-width: 1200px);
@custom-media --min-giga (min-width: 1440px);
@custom-media --max-giga (max-width: 1440px);
